@{
    ViewBag.Title = "December";
}
        <!--About Section-->
        <!--<section id="about" class="about bg-yellow roomy-80">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_about text-center">
                            <h1 class="text-black">Welcome to December </h1>
                            <h2 class="text-white">- & -</h2>
                            <h3 class="text-black text-uppercase">We love to design a website and the other awesome graphic</h3>
                            <a href="" class="btn btn-primary m-top-100">Get In Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                -->
        <!--Business Section-->
        <section id="service" class="service bg-grey roomy-70">
            <div class="container">
                <div class="row">
                    <div class="main_service">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <div class="choose_mac">
                                    <div class="choose_slide">
                                        <div class="choose_item">
                                            <img src="~/images/choose-img1.png" alt="" width="700" height="355" />
                                        </div>
                                        <div class="choose_item">
                                            <img src="~/images/choose-img2.png" alt="" width="700" height="355" />
                                        </div>
                                        <div class="choose_item">
                                            <img src="~/images/choose-img1.png" alt="" width="700" height="355" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="service_item sm-m-top-50">
                                <div class="head_title">
                                    <h2 class="text-uppercase"><strong>Our Service</strong></h2>
                                </div>
                                <div class="service_content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis
                                        morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit
                                        amet erat condimentum porttitor ac quis turpis.
                                    </p>
                                    <a href="@Url.Action("Service","Home")" class="btn btn-default m-top-40">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End off Business section -->
        <!--Featured Section-->
        <section id="training" class="features bg-white">
            <div class="container">
                <div class="row">
                    <div class="main_features fix roomy-70">
                        <div class="col-md-5">
                            <div class="features_item">
                                <div class="head_title">
                                    <h2 class="text-uppercase">Training</h2>
                                </div>
                                <div class="featured_content">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis
                                        morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit
                                        amet erat condimentum porttitor ac quis turpis.
                                    </p>
                                    <a href="" class="btn btn-default m-top-40">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-1 sm-m-top-50">
                            <div class="features_item2_area">
                                <div class="features_item2 text-center">
                                    <div class="divider_horizontal"></div>
                                    <div class="divider_vertical"></div>
                                    <div class="col-xs-6">
                                        <div class="features_item_text">
                                            <img src="~/images/featured1.jpg" width="64" height="64" alt="" class="img-circle" />
                                            <p class="m-top-20">Profession</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="features_item_text">
                                            <img src="~/images/featured2.jpg" width="64" height="64" alt="" class="img-circle" />
                                            <p class="m-top-20">Easy to Learn</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="features_item_text m-top-50">
                                            <img src="~/images/featured3.jpg" width="64" height="64" alt="" class="img-circle" />
                                            <p class="m-top-20">Responsive</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="features_item_text m-top-50">
                                            <img src="~/images/featured4.jpg" width="64" height="64" alt="" class="img-circle" />
                                            <p class="m-top-20">Profession</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End off row -->
            </div><!-- End off container -->
        </section><!-- End off Featured Section-->
        <!--Team And Skill Section-->
        <section id="teams" class="teams roomy-80">
            <div class="container">
                <div class="row">
                    <div class="main_teams_content fix">
                        <div class="col-md-6">
                            <div class="teams_item">
                                <div class="head_title">
                                    <h2 class="text-uppercase"><strong>Our Best Team & Skill</strong></h2>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis
                                    facilisis morbi nulla lectus, luctus interdum eu ultricies tortor maecenas
                                    nec massa sit amet erat condimentum porttitorac quis turpis nulla
                                    lectus sit amet consectetur.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="teams_item text-center sm-m-top-50">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="~/images/team1.jpg" alt="" class="img-circle" />
                                        <h4 class="m-top-20">Trần <strong>Vũ</strong></h4>
                                        <h5>Leader</h5>
                                        <div class="separator"></div>
                                        <!--
                                        <ul class="list-inline">
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                        </ul> -->
                                    </div><!-- End off col-md-4 -->
                                    <div class="col-sm-4">
                                        <img src="~/images/team2.jpg" alt="" class="img-circle" />
                                        <h4 class="m-top-20">Cao <strong>Sơn</strong></h4>
                                        <h5>Saler</h5>
                                        <div class="separator"></div>

                                    </div><!-- End off col-md-4 -->
                                    <div class="col-sm-4">
                                        <img src="~/images/team3.jpg" alt="" class="img-circle" />
                                        <h4 class="m-top-20">Fabian <strong>Doe</strong></h4>
                                        <h5>Web Engineer</h5>
                                        <div class="separator"></div>

                                    </div><!-- End off col-md-4 -->
                                </div>
                            </div>
                        </div><!-- End off col-md-6 -->
                    </div><!-- End off main Team -->
                    <div class="col-md-12">
                        <div class="skill">
                            <div class="team_content_details_skills m-top-50">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="80%">
                                            <label>Spa</label>
                                            <div class="teamskillbar-bar" style="width: 80%;"></div>
                                        </div> <!-- End Skill Bar -->
                                        <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="75%">
                                            <label>Skill</label>
                                            <div class="teamskillbar-bar" style="width: 75%;"></div>
                                        </div> <!-- End Skill Bar -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="90%">
                                            <label>Training</label>
                                            <div class="teamskillbar-bar" style="width: 90%;"></div>
                                        </div> <!-- End Skill Bar -->
                                        <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="98%">
                                            <label>Branding</label>
                                            <div class="teamskillbar-bar" style="width: 98%;"></div>
                                        </div> <!-- End Skill Bar -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- End off skill -->
                    </div><!-- End col-md-12 -->
                </div><!-- End off row -->
            </div><!-- End off container -->
        </section><!-- End off Team & Skill section -->
        <!--Choose section-->
        <section id="choose" class="choose bg-grey roomy-80">
            <div class="container">
                <div class="row">
                    <div class="main_choose">
                        <div class="col-md-6">
                            <div class="choose_mac">
                                <div class="choose_slide">
                                    <div class="choose_item">
                                        <img src="~/images/choose-img1.png" alt="" />
                                    </div>
                                    <div class="choose_item">
                                        <img src="~/images/choose-img1.png" alt="" />
                                    </div>
                                    <div class="choose_item">
                                        <img src="~/images/choose-img1.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div><!-- End off col-md-6 -->
                        <div class="col-md-5 col-md-offset-1">
                            <div class="choose_content sm-m-top-40">
                                <div class="head_title">
                                    <h2 class="text-uppercase"><strong>Why Choose Us</strong></h2>
                                </div>
                                <div class="choose_item_text fix">
                                    <h6><i class="fa fa-check-square-o"></i> Experience.</h6>
                                    <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                </div>
                                <div class="choose_item_text fix m-top-20">
                                    <h6><i class="fa fa-check-square-o"></i> Good skill.</h6>
                                    <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                </div>
                                <div class="choose_item_text fix m-top-20">
                                    <h6><i class="fa fa-check-square-o"></i> 24/7 Support.</h6>
                                    <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                </div>
                                <div class="choose_item_text fix m-top-20">
                                    <h6><i class="fa fa-check-square-o"></i> Full of features.</h6>
                                    <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                </div>
                            </div>
                        </div><!-- End off col-md-6 -->
                    </div>
                </div><!-- End off row -->
            </div><!-- End off container -->
        </section><!-- End off choose section -->
        <!--Portfolio Section-->

        <section id="portfolio" class="portfolio margin-top-120">
            <!-- Portfolio container-->
            <div class="container">
                <div class="row">
                    <div class="main-portfolio roomy-80">
                        <div class="col-md-4">
                            <div class="head_title text-left sm-text-center wow fadeInDown">
                                <h2><strong>Our Blog</strong></h2>
                            </div>
                        </div>

                        <!--
                        <div class="col-md-8">
                            <div class="filters-button-group text-right sm-text-center">
                                <button class="btn button is-checked" data-filter="*">all</button>
                                <button class="btn button" data-filter=".metal">Web Design</button>
                                <button class="btn button" data-filter=".transition">Logo Design</button>
                                <button class="btn button" data-filter=".alkali">Branding</button>
                                <button class="btn button" data-filter=".ar">Branding</button>
                            </div>
                        </div>
                        -->

                        <div style="clear: both;"></div>
                        <div class="grid text-center">
                            <div class="grid-item transition metal ium">
                                <img src="~/images/porfolio-2.jpg" width="500" height="500">
                                <div class="grid_hover_area text-center">
                                    <div class="girid_hover_text m-top-110">
                                        <h4 class="text-white">Blog 1</h4>
                                        <p class="text-white">- Business Card, Branding</p>
                                        <a href="@Url.Action("Blog", "Home")">Read</a>
                                    </div>
                                </div><!-- End off grid Hover area -->
                            </div><!-- End off grid item -->
                            <div class="grid-item transition metal ium">
                                <img src="~/images/porfolio-2.jpg" width="500" height="500">
                                <div class="grid_hover_area text-center">
                                    <div class="girid_hover_text m-top-110">
                                        <h4 class="text-white">Blog 2</h4>
                                        <p class="text-white">- Business Card, Branding</p>
                                        <a href="@Url.Action("Blog", "Home")">Read</a>
                                    </div>
                                </div><!-- End off grid Hover area -->
                            </div><!-- End off grid item -->
                            <div class="grid-item transition metal ium">
                                <img src="~/images/porfolio-2.jpg" width="500" height="500">
                                <div class="grid_hover_area text-center">
                                    <div class="girid_hover_text m-top-110">
                                        <h4 class="text-white">Blog 3</h4>
                                        <p class="text-white">- Business Card, Branding</p>
                                        <a href="@Url.Action("Blog", "Home")">Read</a>
                                    </div>
                                </div><!-- End off grid Hover area -->
                            </div><!-- End off grid item -->
                            <div class="grid-item transition metal ium">
                                <img src="~/images/porfolio-2.jpg" width="500" height="500">
                                <div class="grid_hover_area text-center">
                                    <div class="girid_hover_text m-top-110">
                                        <h4 class="text-white">Blog 4</h4>
                                        <p class="text-white">- Business Card, Branding</p>
                                        <a href="@Url.Action("Blog", "Home")">Read</a>
                                    </div>
                                </div><!-- End off grid Hover area -->
                            </div><!-- End off grid item -->
                            <div class="grid-item transition metal ium">
                                <img src="~/images/porfolio-2.jpg" width="500" height="500">
                                <div class="grid_hover_area text-center">
                                    <div class="girid_hover_text m-top-110">
                                        <h4 class="text-white">Blog 5</h4>
                                        <p class="text-white">- Business Card, Branding</p>
                                        <a href="@Url.Action("Blog", "Home")">Read</a>
                                    </div>
                                </div><!-- End off grid Hover area -->
                            </div><!-- End off grid item -->
                            <div class="grid-item transition metal ium">
                                <img src="~/images/porfolio-2.jpg" width="500" height="500">
                                <div class="grid_hover_area text-center">
                                    <div class="girid_hover_text m-top-110">
                                        <h4 class="text-white">Blog 6</h4>
                                        <p class="text-white">- Business Card, Branding</p>
                                        <a href="@Url.Action("Blog", "Home")">Read</a>
                                    </div>
                                </div><!-- End off grid Hover area -->
                            </div><!-- End off grid item -->
                        </div>

                        <div style="clear: both;"></div>

                    </div>
                </div>
            </div><!-- Portfolio container end -->
        </section><!-- End off portfolio section -->
        <!--Test section-->
        <!--
        <section id="test" class="test bg-grey roomy-60 fix">
            <div class="container">
                <div class="row">
                    <div class="main_test fix">
                        <div class="col-md-6">
                            <div class="cbrand text-center">
                                <div class="divider_horizontal"></div>
                                <div class="divider_vertical"></div>
                                <div class="col-xs-6">
                                    <div class="cbrand_item">
                                        <img src="~/images/cbrand-1.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="cbrand_item">
                                        <img src="~/images/cbrand-2.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="cbrand_item m-top-40">
                                        <img src="~/images/cbrand-3.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="cbrand_item m-top-40">
                                        <img src="~/images/cbrand-4.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 sm-m-top-40">
                            <div class="test_item1 fix ">
                                <div class="head_title fix">
                                    <h2 class="text-uppercase">What <strong>Client Say</strong></h2>
                                </div>
                                <div class="item_img">
                                    <img class="img-circle" src="~/images/test-img1.jpg" alt="" />
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <div class="item_text">
                                    <h5>Sarah Smith</h5>
                                    <h6>envato.com</h6>
                                    <p>
                                        Natus voluptatum enim quod necessitatibus quis
                                        expedita harum provident eos obcaecati id culpa
                                        corporis molestias.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->
        <!-- End off test section -->